<div class="container">
  <mat-card>
    <div style="display: flex; flex-direction: row">
      <div>
        <h1>My Chat Rooms</h1>
        <button mat-button [routerLink]="['../create-room']">
          Create new room
        </button>
        <span *ngIf="(rooms$ | async).items.length > 0; else no_rooms">
          <mat-selection-list
            (selectionChange)="onSelectRoom($event)"
            [multiple]="false"
          >
            <mat-list-option
              *ngFor="let room of (rooms$ | async)?.items"
              [value]="room"
            >
              Name:{{ room.name }} Id:{{ room.id }}
              <mat-divider></mat-divider>
            </mat-list-option>
          </mat-selection-list>
          <mat-paginator
            [length]="(rooms$ | async)?.meta?.totalItems"
            [pageIndex]="(rooms$ | async)?.meta?.currentPage"
            [pageSize]="(rooms$ | async)?.meta?.itemsPerPage"
            (page)="onPaginateRooms($event)"
            [pageSizeOptions]="[10, 25, 50]"
          ></mat-paginator>
        </span>
      </div>
      <div style="margin-left: 40px">
        <h1>My Rooms</h1>
        {{ selectedRoom | json }}
      </div>
    </div>
  </mat-card>
</div>

<ng-template #no_rooms>
  <div>
    <mat-error>
      No Chatrooms for you in the moment, please create one or get invited.
    </mat-error>
  </div>
</ng-template>
