<div *ngIf="chatRoom; else no_chatroom">
  <div style="height: 125px">
    <span
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      "
    >
      <h2>{{ chatRoom.name }}</h2>
      <span style="display: flex; flex-direction: row; align-items: center">
        <mat-icon style="margin-bottom: 15px">event</mat-icon>
        <p style="margin-left: 10px">{{ chatRoom.updated_at | date }}</p>
      </span>
    </span>

    <span>
      <h3 style="color: gray">{{ chatRoom.description }}</h3>
      <span *ngFor="let user of chatRoom.users">{{ user.username }},</span>
    </span>
  </div>
  <div class="messages" #messages>
    <span *ngFor="let message of (messages$ | async)?.items">
      <app-chat-message [message]="message"></app-chat-message>
    </span>
  </div>

  <div style="display: flex; flex-direction: row; align-items: center">
    <mat-form-field style="width: 350px">
      <input matInput [formControl]="chatMessage" type="text" />
    </mat-form-field>
    <button mat-button [disabled]="!chatMessage.valid" (click)="sendMessage()">
      <span style="display: flex; flex-direction: row; align-items: center">
        <mat-icon style="margin-left: 20px">send</mat-icon>
        <p style="margin-left: 10px; margin-top: 15px">Send</p>
      </span>
    </button>
  </div>
</div>

<ng-template #no_chatroom>
  <mat-error>No chat room selected</mat-error>
</ng-template>
